{% extends 'base.html' %}

{% block sidebar %}
<div class="col-md-3">
            <ul class="list-group">

                {% for genre in genres %}

                    <a href="{% url 'genre' genre.pk %}" class="list-group-item">{{ genre.name }}</a>

                {% endfor %}
            </ul>
        </div>
{% endblock %}

{% block content %}
<div class="col-md-9">
            {% for item in film %}
            <div class="card mb-3" style="max-width: 1000px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ item.photo.url }}" alt="..." width="300" height="450">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <p class="card-text"><small class="text-muted">Режиссер: {{ item.director }}</small>
                            </p>
                            <p class="card-text"><small class="text-muted">Выручка {{ item.revenue }}</small></p>
                            <p class="card-text"><small class="text-muted">Выпущено {{ item.public_date }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}
